<div class="controls">
  <ul class="icons">
    <li class="icon refresh" ng-click="$ctrl.toggleRefresh()">
      <i class="fa fa-fw fa-refresh" ng-class="{'fa-spin': $ctrl.isRefreshing.interval}"></i>
      <span>Auto reload the playlist.json</span>
    </li>
    <li class="icon prices" ng-click="$ctrl.togglePrices()">
      <i class="fa fa-fw fa-usd"></i>
      <span>Toggle the prices</span>
    </li>
    <li class="icon random-available" ng-click="$ctrl.toggleAvailable()">
      <i class="fa fa-fw" ng-class="$ctrl.availableToggled ? 'fa-eye-slash' : 'fa-eye'"></i>
      <span>Toggle a random products availability</span>
    </li>
    <li class="icon editor" ng-click="$ctrl.toggleEditor()">
      <i class="fa fa-fw fa-pencil-square-o"></i>
      <span>Toggle the editor</span>
    </li>
  </ul>
</div>